body {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column; 
}
p, h1, h2{
    color: black;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 21px;
    font-weight: 600;
    background-color: rgb(85, 204, 91);
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(121, 204, 85);
    transform: scale(1.05);
}

header {
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    transition: background-color 0.3s, padding 0.3s; 
}

header.rolagem {
    color: white;
    padding: 20px 8%;
    background-color: rgb(54, 162, 79);
}

.logo img {
    max-width: 60px; 
    height: auto;
}

nav.menu-desktop ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
}

nav.menu-desktop ul li {
    margin: 0 20px; 
}

nav.menu-desktop ul li a {
    color: #eaeaeae3;
    text-decoration: none;
    transition: color 0.2s;
}

nav.menu-desktop ul li a:hover {
    color: white; 
}

.btn-abrir-menu {
    display: none; 
    cursor: pointer;
}

.menu-mobile {
    background: rgb(85, 204, 103);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
    color: white;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: white;
    color: black;
}

.banner {
    background-image: url(fundo_pagina_inicial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: left;
    padding: 150px 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    animation: fundinholindo 10s infinite linear;
}

.banner p, h2 {
    margin: 50px;
    font-size: 28px;
    color: white;
}
.services {
    background-color: white;
    padding: 80px 0;
    text-align: center;
    overflow: hidden;
}

.services h3 {
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: dudu 1s ease-in-out;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    margin-bottom: 40px;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: dudu 1s ease-in-out ;
    animation-delay: 0.5s;
}

.service-item:hover {
    transform: translateY(-10px) scale(1.25);
    box-shadow: 0 5px 15px black;
    background-color: #8de6bf;
}

.service-item h4 {
    font-size: 1.8em;
    color: #119c11;
    margin-bottom: 20px;
    list-style: none;
    text-decoration: none;
}

.service-item p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
}


.main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.main-footer p {
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}
 
.cards{
    display: flex;
    justify-content: space-around;
    background-image: url(imagem-fundo-cards.jpeg);
}
 
.card{
    width: 300px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(216, 245, 186);
    animation: dudu 2s ease-in-out;
    animation-delay: 1s;
}
.card img{
    border: 2px solid black;
    width: 100%;
}
.integrantes h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    animation: dudu 3s ease-in-out;
}
.integrantes{
    text-align: center;
    background-color: white;
}
.texto-inical-link2 h1 {
    width: 65%;
    font-size: 40px;
}

.parte-inicial-link2 {
    margin-top: 40px;
}

.imagem-inicial-link2 img {
    width: 100%;
}
.texto-inical-link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.header-link2 {
    background-color: #119c11;
    height: 100px;
    text-align: center;
    font-size: xx-large;
}
.img-Solucoes img {
    max-width: 100%;
}
.Solucoes {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
.texto-Solucoes {
    max-width: 50%;
    font-size: x-large;
}

.botao-voltar {
    width: 60px;
    margin-bottom: 40px;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

  .texto-final-link2 h1 {
    width: 65%;
    font-size: 35px;
}

.texto-final-link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header-link3 {
    background-color: #119c11;
    height: 160px;
    text-align: center;
    font-size: xx-large;
}

.corpo-link3 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 40px;
  }
  
.texto-link3 {
    text-align: center; 
    max-width: 400px; 
    margin: 0 20px;

  }

.texto-link3 h2 {
    font-size: 40px;
}

.texto-link3 p {
    font-size: 30px;
    margin-top: 50px;
}
  
.imagem-link3 img {
    width: 300px; 
    height: 800px; 
    object-fit: cover; 
    margin: 0 70px;
  }

.texto-Solucoes h2 {
    margin-left: 20px;
}

.texto-Solucoes p {
    margin-left: 20px;
}

.Solucoes-link4 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
  }

.texto-Solucoes-link4 {
    max-width: 50%;
    font-size: x-large;
}

.texto-Solucoes-link4 p {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.comentario {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #858585;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit, .delete {
    cursor: pointer;
    color: #007bff;
}

.edit:hover {
    text-decoration: underline;
}

.delete:hover {
    color: #d9534f;
}


